.fat_form {
    backdrop-filter: blur(90px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
}

.formRe {
    background-color: #fff;
    height: auto;
    display: flex;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

input, textarea {
    margin-left: 10px;
}

label{
    margin-right: 20px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

.textarea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.normal {
    height: 30px;
}

.normal:focus, textarea:focus {
    outline: none;
}

.fat_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 300px;
}

.schTitle {
    text-align: center;
    margin: 15px 0 10px 0;
    font-style: italic;
}

.par {
    /* background-color: teal; */
    margin-bottom: 10px;
}

select.normal {
    margin-left: 10px;
}

.button {
    border: 0;
    cursor: pointer;
    background-color: #5585b5;
    padding: 10px 30px; 
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.button:hover {
    background-color: #455d7a;
    color: white
}

.response-error {
    color: red;
}